*{
    margin: 0;
}

.contenedor{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
ul{
    /* padding: 0; */
}
li{
    list-style: none;
    
}
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
/*Navegacion principal*/
header{
    background-color: lightsalmon;
}

.desplegar-btn{
    display: none;
    position: absolute;
    right:.1em;
    top:1.2em;
}

.header .contenedor{
    display: flex;
    position: relative;
    justify-content: center;
    padding: .3em;
    margin: 0 .5em;

}

.main-titulo{
    padding: .3em;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}
.main-nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    
}

.main-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 1em;
    padding: 0 1em;


}
.main-ul li{
    /* padding: 0 .5em; */
    text-align: center;
    padding: 0 .3em;
    margin: 0 .2em;
    word-break: normal;

    
}
.right-ul{
    justify-content: right;
}
@media (max-width: 850px){
    .desplegar-btn{
        display: block;
    } 

    .header .contenedor{
        flex-direction: column;
    }
    .main-nav{
        display: none;
        flex-direction: column;
        align-self: flex-start;
    }

    .main-ul{
        flex-direction: column;
    }
}

/*Primeros veinte pokemon*/

.primeros-veinte_fotos{
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(min(100%,7rem),1fr));
   /* overflow:auto; */
   
   
   /* grid-auto-rows: 50%;  */
}

.div-img{
    
    justify-content: center;
    text-align: center;
    align-content: center;
    /*align-items: center;*/
    margin: 0 10px;
    position: relative;
    z-index: 2;
}
.div-img img{
    width: 100%;
}

/* .modal-ventana{
    display: none;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    
    /* text-align: center; 
    justify-content: center;
    align-content: center;
    background-color: gray;

}

.d-block{
    display: flex;
} */

/*VENTANA MODAL*/
.modal-ventana {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(33, 37, 41, .8);
}

.modal-ventana .ventana-modal_content {
    background-color: white;
    width: 70%;
    height: 50%;
    align-self: center;
    margin: 0 auto;
    padding: 0 1em;
    text-align: center;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}




