*{
    margin: 0;
}
.contenedor{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
/*Navegacion principal*/
.main-nav{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,10em),1fr));

    justify-items: center;
    align-items: center;
    text-align: center;

    border: solid black 1px;
    height: 50px;
    background-color: lightcoral;
}
.main-ul{
    display: flex;
    

    

}
.main-nav li{
    list-style: none;
    padding: 0 10px;
}

/*Primeros veinte pokemon*/

.primeros-veinte_fotos{
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(min(100%,7rem),1fr));
   /* overflow:auto; */
   
   
   /* grid-auto-rows: 50%;  */
}

.div-img{
    
    justify-content: center;
    text-align: center;
    align-content: center;
    /*align-items: center;*/
    margin: 0 10px;
    position: relative;
    z-index: 2;
}
.div-img img{
    width: 100%;
}

.modal-ventana{
    display: none;
}

.d-block{
    display: block;
}

/*
*/


